<h1>Angular Router Sample</h1>
<nav>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/crisis-list">Crisis list</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/heroes-list">Heroes list</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/first-component">First component</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/second-component">Second component</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/city">City</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/forms">Forms</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
