<p>form-group works!</p>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h3>Personal information</h3>

  <div class="form-group">
    <label for="firstName">First name</label>
    <input type="text" id="firstName" formControlName="firstName" />
  </div>

  <div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" id="lastName" formControlName="lastName" />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" />
  </div>

  <div class="form-group">
    <label for="maritalStatus">Marital status</label>
    <select
      name="maritalStatus"
      id="maritalStatus"
      formControlName="maritalStatus"
    >
      <option value="" [disabled]="true">Select a marital status</option>
      <option *ngFor="let status of maritalStatus" [value]="status">{{
        status
      }}</option>
    </select>
  </div>

  <div formGroupName="address">
    <h3>Address</h3>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" formControlName="city" />
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" id="street" formControlName="street" />
    </div>

    <div class="form-group">
      <label for="zip">Zip</label>
      <input type="text" id="zip" formControlName="zip" />
    </div>
  </div>

  <div formArrayName="aliases">
    <h3>Aliases</h3>

    <button (click)="addAlias()">Add alias</button>

    <div *ngFor="let alias of aliases.controls; let i = index">
      <div class="form-group">
        <label for="alias-{{ i }}">Alias {{ i }}</label>
        <input type="text" [formControlName]="i" />
        <button (click)="removeAlias(i)">Remove alias</button>
      </div>
    </div>
  </div>

  <p>FormGroup state: {{ formGroup.status }}</p>

  <button type="submit" [disabled]="!formGroup.valid">Submit</button>
</form>
